* {
  box-sizing: border-box;
}

.box {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
}

.box > div{
  border: 5px solid black;
  padding: 20px 0;
  text-align: center;
}

p {
  font-size: 30px;
  font-weight: bold;
}

.rollbtn {
  border-color: black;
  border-radius: 4px;
  width: 20%;
  font-size: 20px;
  display: block;
}

.dice_roll {
  width: 15em;
}

/*.vl1 {
    border-left: 6px solid black;
    height: 500px;
    position: absolute;
    left: 10%;
    margin-left: -3px;
    top: 50;
  } 

.vl2 {
  border-left: 6px solid black;
  height: 500px;
  position: absolute;
  left: 90%;
  margin-left: -3px;
  top: 50;
  } 

.p1 {
  position: absolute;
  left: 55px;
  top: 10px;
}

.p2 {
  position: absolute;
  left: 1760px;
  top: 10px;
}

button {
  position: absolute;
  top: 500px;
  left: 900px;
  padding: 20px;
  font-size: 20px;
}

img {
  position: absolute;
  margin-top: 175px;
  margin-left: 813px;
} */